[submodule "rust/st7735-lcd-batch-rs"]
	path = rust/st7735-lcd-batch-rs
	url = https://github.com/lupyuen/st7735-lcd-batch-rs
[submodule "rust/druid-embedded"]
	path = rust/druid-embedded
	url = https://github.com/lupyuen/druid-embedded
[submodule "rust/piet-embedded"]
	path = rust/piet-embedded
	url = https://github.com/lupyuen/piet-embedded
[submodule "rust/kurbo-embedded"]
	path = rust/kurbo-embedded
	url = https://github.com/lupyuen/kurbo-embedded
